.split-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.democracy-container {
  padding-top: 1.5rem;
}

.proposal-card {
  width: 100%;
  margin-top: 0.3rem;
  padding: 0.3rem;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

.file-drop {
  padding: 2rem;
  border: 1px dashed #cccccc;
  border-radius: 0.3rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  outline: 0;
}

.file-drop:focus, .file-drop:active {
  outline: 0;
}