.card {
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 1px 1px 2px grey;
  padding: 20px;
}

.card:hover {
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 2px 2px 3px grey;
}

.input_field {
  resize: none;
  overflow: hidden;
  padding: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button_pos {
  position: relative;
  bottom: 5px;
  left: 50px;
}

.small_card {
  /* offset-x | offset-y | blur-radius | color */
  /*box-shadow: 1px 1px 1px grey;*/
  padding: 5px;
  margin: 1px;
}

.small_card:hover {
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 1px 1px 2px grey;
}

/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}